/* ----------------------------------------------------------------
/* NOTE: These styles will be applied to the ANDROID platform only 
/* ----------------------------------------------------------------*/

@import "_Settings";

.android-only {

 TextInput, TextView { font-family: Roboto; }

 Button, IconButton { text-transform: uppercase; border-radius: 4px; }
 IconButton #TextView { text-transform: uppercase; }

 PopUp {
  Dialog, Page { border-radius: 4px; }
 }

 .module-header-title { font-size: 26px; margin-top: 10px; }

 NavigationBar {
  #Title { text-align: left; padding-left: 65px; font-size: 20px; font-weight: normal; padding-top: 5px; }
 }

 TextInput { font-family: Roboto; border: 0 $very-light-grey; border-bottom-width: 1px; padding: 2px; margin-bottom: 10px; }
 .titleRow { font-size: 26px; }
 #BuyTicketButton{margin-top:20px;}
}
