@import "Variables.less";

.form-pages {
    #Body {
        height: 100%;
    }
}

#MapView {
    height: 100%
}

MainMenu {
    .form-pages();

    TextView {
        color: @BlueColor;
    }

    #logoutButton {
        width: 100%;
        background-color: @WhiteColor;
        text-align: center;
        padding: 10px;
    }

    #ItemsStack {
        height: calc("(View.Root.ActualHeight- 45- 50)");
        background: url("Images/Menu/background.png");
        background-size: cover;
        width: 300px;
    }

    #MenuItemsStack {
        height: calc("(view.Parent.ActualHeight - 50)");
    }
}

HomePage {
    .form-pages();

    .title {
        color: @BlueColor;
        margin: 10px;
        margin-bottom: 0px;
        font-size: 20px;
    }
}

#WeatherInfoModule {
    background: url("Images/background.png");
    background-size: auto;
    height: 25%;
    padding: 10px;

    Stack {
        /*margin-top: calc("view.Parent.ActualHeight /4");*/

        TextView {
            color: @WhiteColor;
        }

        #Temp {
            font-size: 36px;
        }
    }

    TextView {
        margin-top: 10px;
    }
}

.HomeModules {
    height: 32%;
    padding: 10px;

    ScrollView {
        height: 100%;
    }

    #List {
        height: 100%;
    }

    Stack {
        height: 100%;
    }

    #Content {
        padding: 10px;
        padding-left: 0px;
    }

    .splitor {
        border-bottom: 1px solid;
        border-color: @WhiteColor;
        margin: 10px;
    }

    ImageView {
        width: 25px;
        margin-left: 10px;
    }

    TextView {
        margin-left: 10px;
        color: @WhiteColor;
    }

    .titleRow {
        font-size: 26px;
        margin-top: 10px;
    }
}

#EventsModule {
    border-bottom: 1px;
    border-color: @GrayColor;
}

MyRidesPage {
    .form-pages();

    #infoStack {
        height: 75%;
    }

    #MyRidesModule {
        width: 30%;
    }

    #MapView {
        width: 40%;
    }

    #selectedRowInfoStack {
        width: 30%;
        background: url("Images/myrides_placeholder_event.png");
        background-size: cover;
        height: 100%;
        padding: 10px;

        TextView {
            color: @WhiteColor;
            margin: 7px;
            font-size: 14px;
        }

        .label {
            font-size: 12px;
        }

        .texbox {
            font-size: 16px;
        }
    }

    #txtDate {
        margin-top: 100px;
    }
}

#MyRidesStack {
    height: 100%;

    #List {
        height: 100%;
    }

    TextView {
        color: @BlackColor;
        font-size: 12px;
        margin-top: 5px;
    }

    #iconStack {
        width: 40px;
        height: 100%;

        #myRidesImage {
            margin-top: 10px;
            margin-left: 5px;
            height: 30px;
        }
    }

    #rideInfoStack {
        width: 90%;
        height: 100%;
        padding: 10px;

        .image {
            height: 20px;
            width: 20px;
            margin-right: 5px;
        }

        #fromStationNameTextView {
            color: @BlueColor;
        }

        #toStationNameTextView {
            color: @OrangeColor;
        }
    }

    #mainStack {
        width: 100%;
        height: 170px;
        border: 1px solid;
        border-color: @GrayColor;
    }
}

CustomRidePage {
    .form-pages();

    #RouteSelector {
        height: 220px;
        width: calc("View.Root.ActualWidth - 60");
        background-color: @WhiteColor;
        opacity: 0.4;
        margin: 20px;
    }

    #InnerStack {
        margin-left: 40px;
        padding: 10px;
        background-color: @WhiteColor;
        height: 180px;
        width: calc("View.Root.ActualWidth - 100");
        position: absolute;
        top: 30px;
    }

    #GoButtonStack {
        margin-top: 20px;
        background-color: @ProfileGrayColor;
        height: 40px;
        width: 100%;

        Button {
            width: 60px;
            margin-left: calc("view.Parent.ActualWidth - 60");
            padding: 10px;
            background-color: @BlueColor;
            color: @WhiteColor;
            height: 100%;
        }
    }

    #RouteSelected {
        width: calc("View.Root.ActualWidth - 60");
        height: 150px;
        background-color: @GrayColor;
        opacity: 0.4;
        padding: 20px;
        margin: 20px;
        position: absolute;
        top: calc("View.Root.ActualHeight - 230");
    }



    .title {
        font-size: 16px;
    }


    #FromPS {
        margin-left: 40px;
        background-color: @BlueColor;
        padding: 10px;
        visibility: hidden;
        width: calc("View.Root.ActualWidth - 100");
        position: absolute;
        top: calc("View.Root.ActualHeight - 220");

        TextView {
            color: @WhiteColor;
            font-size: 12px;
        }
    }

    #ToPS {
        margin-left: 40px;
        background-color: @OrangeColor;
        padding: 10px;
        visibility: hidden;
        margin-top: 10px;
        width: calc("View.Root.ActualWidth - 100");
        position: absolute;
        top: calc("View.Root.ActualHeight - 150");

        TextView {
            color: @WhiteColor;
            font-size: 12px;
        }
    }
}

BookingPage {
    .form-pages();

    #overlayStack {
        background-color: @BlueColor;
        height: 100%;
        opacity: 0.4;
        z-index: 1;
        position: absolute;
        top: 0;
    }

    #MainStack {
        padding: 20px;
        padding-top: 50px;
        background-color: transparent;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
    }

    TextView {
        color: @WhiteColor;
        margin-top: 10px;
    }

    .small {
        font-size: 12px;
        color: @BrightYellowColor;
    }

    .title {
        font-size: 30px;
    }

    .date {
        font-size: 20px;
    }

    .city {
        font-size: 20px;
    }

    .avilable {
        color: @BrightYellowColor;
        font-size: 11px;
    }

    Button {
        border: 4px solid;
        border-color: @WhiteColor;
        width: 200px;
        padding: 20px;
        margin-top: 20px;
    }

    #bookDetailStack {
        margin-top: 30px; //calc("view.Parent.ActualHeight - view.ActualHeigh") ;
        padding: 5px;
        height: 180px;
        background-color: @WhiteColor;

        TextView {
            color: @GrayColor;
            font-size: 12px;
            margin-top: 5px;
        }

        ImageView {
            width: 40px;
            height: 40px;
            border-color: @BlueColor;
            border: 2px;
        }

        #fromText {
            font-size: 20px;
            color: @BlueColor;
        }

        #toText {
            font-size: 20px;
            color: @OrangeColor;
        }

        .splitor {
            border-bottom: 1px solid;
            margin: 5px;
            margin-left: 0px;
        }
    }
}

.BookingDetailPage {
    .form-pages();

    #Body {
        background: url("Images/booking_background.png");
        background-size: auto;
    }

    TextView {
        color: @WhiteColor;
        text-align: center;
        margin-top: 10px;
        font-size: 18px;
    }

    .title {
        margin-top: 150px;
        font-size: 28px;
    }

    #bookingStack {
        background: url("Images/booking_circle_white.png");
        width: 90px;
        height: 90px;
        margin-top: 50px;
        margin-left: calc("(View.Root.ActualWidth/ 2)- 45");
        background-size: cover;
    }

    .blacktext {
        color: @BlackColor;
        font-size: 12px;
        margin-top: 15px;
    }

    .bluetext {
        color: @BlueColor;
    }

    #timerStack {
        background: url("Images/progress.png");
        width: 80px;
        height: 80px;
        margin-top: 50px;
        margin-left: calc("(View.Root.ActualWidth/ 2)- 40");
        background-size: cover;
    }

    .label {
        font-size: 11px;
        margin-top: 0px;
    }
}

ReportIncidentPage {
    height: 100%;
    padding: 10px;

    #IncidentSelectorStack {
        padding: 10px;
        height: 200px;

        TextView {
            font-size: 12px;
            text-align: center;
        }

        .image {
            margin: 10px;
            margin-top: 20px;
            width: 50px;
            height: 50px;
        }
    }

    #BotButtonStack {
        padding: 20px;
        border-bottom: 1px solid;
        border-color: @GrayColor;

        IconButton {
            padding: 10px;
            width: 100%;
            background-color: @BlueColor;
            font-size: 20px;
        }

        #Icon {
            margin-top: 0px;
            margin-left: 30px;
            height: 30px;
        }
    }

    .title {
        color: @BlueColor;
        margin: 10px 0px;
    }

    TextInput {
        color: @BlackColor;
        border-bottom: 1px solid;
        border-color: @BlackColor;
    }

    #ReportButtonStack {
        padding: 20px 0px;
        margin-top: 50px;

        Button {
            padding: 10px;
            width: 100%;
            background-color: @BackgroundGrayColor;
            font-size: 20px;
        }
    }
}

LoginPage {
    height: 100%;

    #mainStack {
        height: 100%;
        padding: 20px 50px;
        background: url("Images/background.png");
    }

    #signupTextView {
        color: @BrightYellowColor;
        font-weight: bold;
    }

    TextView {
        color: @WhiteColor;
    }

    TextInput {
        border-bottom: 1px solid;
        border-color: @WhiteColor;
        color: @WhiteColor;
        font-size: 20px;
        margin: 10px;
        padding: 10px 0px;
    }

    .label {
        font-size: 12px;
        margin: 10px;
    }

    #signinButtonStack {
        padding: 0px 40px;
        margin-top: 20px;

        Button {
            width: 100%;
            color: @BlackColor;
            background-color: @BlueColor;
            padding: 20px;
        }
    }
}

.SignupPages {
    height: 100%;

    #mainStack {
        height: 50%;
        width: 50%;
        margin-top: calc("View.Root.ActualHeight / 5");
        margin-left: calc("View.Root.ActualWidth / 4");
        padding: 10px;
        background-color: @WhiteColor;
    }

    TextInput {
        border-bottom: 1px solid;
        border-color: @BlackColor;
        color: @BlackColor;
        font-size: 20px;
        margin: 10px;
    }

    .title {
        font-size: 12px;
        margin: 10px;
        margin-bottom: 0px;
        color: @BlueColor;
    }

    #detailStack {
        height: calc("(view.Parent.Parent.ActualHeight - 75)");
    }

    #NextButtonStack {
        height: 60px;
        background-size: contain;
    }

    #nextButton {
        padding: 10px 0px;
        height: 50px;
        width: 50px;
        margin-top: 10px;
        margin-left: calc("view.Parent.ActualWidth - 50");
    }

    #closeButton {
        width: 10px;
        padding: 0px;
        height: 10px;
        background: url('Images/SignUp/ic_close.png');
    }

    #backgroundStack {
        height: 100%;
    }
}

ProfilePage {
    .form-pages();

    #Body {
        background: url("Images/city-gray.png");
        background-size: cover;
    }

    #mainStack {
        height: 100%;
        padding: 100px 20px 20px 20px;
    }

    #userImageView {
        width: 100%;
        height: 80px;
        background-position: center;
    }

    .label {
        font-size: 12px;
        margin: 10px;
        color: @BlueColor;
    }

    .title {
        font-size: 20px;
        margin: 10px;
        color: @BlackColor;
    }
}

AccountPage {
    #nextButton1 {
        padding: 10px 0px;
        height: 50px;
        width: 50px;
        margin-top: 10px;
        margin-left: calc("view.Parent.ActualWidth - 130 ");
    }

    #sunBox {
        margin-left: 20px;
        width: 60px;
        height: 60px;
        background: url('Images/SignUp/signup_sun.png')
    }

    #bikeImageView {
        width: 80px;
        height: 50px;
    }

    #sunBoxStack {
        padding: 60px;
        height: 40%;
    }

    #buildingImageView {
        height: 100%;
        background: url("Images/SignUp/signup_buildings_2.png");
    }

    #fenceImageView {
        height: 8%;
        background: url('Images/SignUp/fence.png');
    }
}

GenderPage {
    #mainStack {
        #womanImageView {
            width: 100%;
            height: 80px;
            margin-left: 80px;
        }

        #manImageView {
            width: 100%;
            height: 80px;
            margin-left: 10px;
        }

        #nextButton {
            margin-left: calc("view.Parent.ActualWidth - 110 ");
        }

        #cloudBox {
            margin-left: 40px;
            width: 40px;
            height: 40px;
            background: url('Images/SignUp/signup_cloud_1.png');
        }

        #cloudBoxStack {
            padding: 10px;
            height: 20%;
        }

        #skipTextView {
            font-weight: bold;
            font-size: 20px;
            width: 60px;
            margin-top: 10px;
        }
    }
}

SubscriptionPage {
    ImageView {
        width: 100%;
        height: 75px;
        margin-left: 20px;
        margin-top: 10px;
    }

    #skyBoxStack {
        padding: 10px;
        height: 30%;
    }

    #cloudBox {
        margin-left: 50px;
        width: 40px;
        height: 40px;
        background: url('Images/SignUp/signup_cloud_1.png');
    }

    #sunBox {
        margin-left: 70px;
        margin-top: 30px;
        width: 60px;
        height: 60px;
        background: url('Images/SignUp/signup_sun.png')
    }
}

UserPage {
    #designStack {
        height: 22%;
        padding-top: 10px;
    }

    #fenceImageView {
        height: 8%;
        background: url('Images/SignUp/fence.png');
    }

    #bikeImageView {
        height: 40px;
        background: url('Images/SignUp/bike.png');
        margin-top: 20px;
        margin-left: calc("view.Parent.ActualWidth - 140");
    }

    #signupTreesImageView {
        height: 60px;
        background: url('Images/SignUp/signup_trees.png');
    }
}

.slide-show {
    height: 100%;
}

SignUpPage {
    height: 100%;

    #Body {
        height: 100%;
        background: url("Images/background.png");
        background-size: cover;
    }
}

EventSummaryPage {
    .form-pages();

    #mainStack {
        background-size: auto;
        height: 100%;
        padding: 20px 30px 10px 30px;
    }

    TextView {
        color: @WhiteColor;
        font-size: 18px;
        margin-top: 5px;
    }

    .titleRow {
        font-size: 36px;
        margin-top: 10px;
    }

    .small {
        font-size: 12px;
        color: @BrightYellowColor;
    }

    #venueNameTextView {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #buyTicketButton {
        margin-top: 70px;
        font-size: 14px;
        width: 120px;
        border: 3px solid;
        border-color: @WhiteColor;
        font-weight: bold;
    }

    #bookBikeButton {
        margin-top: 50px;
        width: 200px;
        padding: 8px;
        border: 4px solid;
        border-color: @WhiteColor;
        font-weight: bold;
    }

    #bookDetailStack {
        margin-top: 30px; //calc("view.Parent.ActualHeight - view.ActualHeigh") ;
        padding: 5px;
        height: 170px;
        background-color: @WhiteColor;

        TextView {
            color: @GrayColor;
            font-size: 12px;
        }

        ImageView {
            width: 40px;
            height: 40px;
            border-color: @BlueColor;
            border: 1px;
        }

        #fromText {
            font-size: 20px;
            color: @BlueColor;
        }

        #toText {
            font-size: 20px;
            color: @OrangeColor;
        }

        .splitor {
            border-bottom: 1px solid;
            margin: 5px;
            margin-left: 0px;
        }
    }
}

IdentityPage {
    #leftCloudBox {
        margin-left: 10px;
        width: 60px;
        height: 60px;
        background: url("Images/SignUp/signup_cloud_2.png");
    }

    #RightCloudBox {
        margin-top: -10px;
        margin-left: 100px;
        width: 40px;
        height: 40px;
        background: url("Images/SignUp/signup_cloud_1.png");
    }

    #padlockImageView {
        margin-top: -20px;
        margin-left: 40px;
        width: 80px;
        height: 80px;
        background: url("Images/SignUp/signup_padlock.png");
    }
}
