@import "_Settings";

MainMenu { 
    #Body{  height:100%; background-image: "Images/Menu/background.png"; background-size: cover;
            TextView{ color: blue;}
            #logoutButton {width:100%; background-color:white; text-align:center; padding: 10px; }
            #UserProfile { margin-top:100px;}
           }  }
HomePage{  #Body{ height:100%; }}

#WeatherInfoModule {
    background-image: "Images/background.png";
    background-size: cover;
    height: 25%;
    #infoDiv{        
        margin:20px;
        margin-top:90px;
        TextView{ color:white;}
        #Temp{ font-size:30px;}
    }
}

#EventSummaryModule {   
    height: 35%;
    padding: 10px; 
    #title { color: #484f63; margin:10px; font-size:20px; }

    #List {
        height: 100%;       

        #Content {
            height: 100%;
            padding: 10px; 
            #rowStack {    
                height:80%;
                background-size: cover;               
                TextView {  margin-left: 10px;  color:white;  }   
                #EventName{ font-size:26px; margin-top:10px;}
            }
        }
    }
}

#RecommendedModule {
    height: 35%;
    padding: 10px; 
    #title { color: #484f63; margin:10px; font-size:20px; }

    #List {
        height: 100%;       

        #Content {
            height: 100%;
            padding: 10px; 
            #rowStack {
              
                background-size: cover;
               
                TextView {  margin-left: 10px;  color:white;  }
                #RideIn  {  font-size: 26px; margin-top:20px;    }
                #Splitor {  border-bottom: 1px solid; border-color:white; margin:10px; }
                ImageView{  width:25px;  margin-left: 10px;  }
            }
        }
    }
}

MyRidesPage{
     #Body{ height:100%; }
     #infoStack{ height:75%;}
     #MyRidesModule{ width:30%; }
     #MapView{ width:40%; }
     #selectedRowInfoStack{ width:30%; background-image: "Images/myrides_placeholder_event.png"; background-size: cover; height:100%; padding:10px;
                    /*#selectedStack{ margin-top : 100px;}*/
                    TextView{ color:white; margin:7px; font-size:14px; } 
                    .label{font-size:12px;}
                    .texbox {font-size:16px;}
     }
     #txtDate{ margin-top:100px;}
     
}

#MyRidesStack {
    height: 100%;
   
    #List{   height: 100%;}
    TextView{ color:black; font-size:12px; margin-top:5px; }

    #iconStack{ width:40px; height: 100%;  
                #myRidesImage{ margin-top:10px; margin-left:5px; height:30px;}
    }
    #rideInfoStack{ width:90%; height:100%; padding:10px;
                    .image{ height:20px; width:20px; margin-right:5px;}
                    #fromStationNameTextView{ color:blue;}
                    #toStationNameTextView{color:red;}
    }
    #mainStack{ width:100%; height:170px; border:1px solid; border-color:gray;}

}

CustomRidePage {
    #Body {
        height: 100%;

        #RouteSelector {
            height: 250px;
            width: 90%;
            background-color: white;
            opacity: 0.4;
            margin: 20px;
        }

        #MainStack {
            margin: 20px;
            padding: 10px;
            background-color: white;
            height: 85%;
            opacity: 1;
        }

        #GoButton {
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: blue;
            color: white;
        }

        #RouteSelected {
            height: 180px;
            width: 90%;
            background-color: gray;
            opacity: 0.4;
            padding: 20px;
            margin: 20px;

            TextView {
                color: white;
                font-size: 12px;
            }

            .title {
                font-size: 16px;
            }
        }

        #FromPS {
            background-color: blue;
            padding: 10px;
            visibility: hidden;
        }

        #ToPS {
            background-color: orangered;
            padding: 10px;
            visibility: hidden;
            margin-top: 10px;
        }
    }
}

BookingPage {
    #Body {
        height: 100%;    
        #MainStack{  padding:20px; padding-top:150px; background-color:blue; height:100%; opacity:0.4;}
        TextView{ color:white; margin-top:10px;}
        .title{ font-size:30px;}
        .date{font-size:20px; }
        .city{font-size:20px;}
        .avilable{color:yellow; font-size:11px;}
        #BookButton{border:3px solid; border-color:white; width:200px; padding:20px; margin-top:20px;}
    }
}

ThanksBookingPage{  
    #Body{  background-image: "Images/booking_background.png"; height:100%;   background-size: cover;
                            TextView{ color:white; text-align:center; margin-top:10px;}
                            .title{ margin-top:200px; font-size:28px;}
                            #stackBookId{background-image: "Images/booking_circle_white.png"; width:90px; height:90px; margin-top:50px; margin-left:calc("(View.Root.ActualWidth/ 2)- 45");   background-size: cover; }
                            .blacktext{ color:black; font-size:12px; }                        
                            #txtBookId{ color:aqua;}
         }}
TimeRemainingPage{ 
    #Body{  background-image: "Images/booking_background.png"; height:100%;   background-size: cover;
                       TextView{ color:white; text-align:center; margin-top:10px; font-size:18px;}
                            .title{ margin-top:100px;}
                            #stackTimer {background-image: "Images/progress.png"; width:80px; height:80px; margin-top:50px; margin-left:calc("(View.Root.ActualWidth/ 2)- 40");   background-size: cover; }
                            #stackBookId{background-image: "Images/booking_circle_white.png"; width:90px; height:90px; margin-top:50px; margin-left:calc("(View.Root.ActualWidth/ 2)- 45");   background-size: cover; }
                            .blacktext{ color:black; font-size:12px; }
                            .label{font-size:11px;}
                            #txtBookId{ color:aqua;}

         } }

ReportIncidentPage{
    height:100%;
    padding:10px;
    #IncidentSelectorStack{ padding:10px; height: 200px;
                            TextView{ font-size:12px; text-align:center;}
    .image{ margin:10px; margin-top:20px; width:50px; height:50px;}
    }
    #BotButtonStack{padding:20px; border-bottom: 1px solid; border-color:gray;
                    #BotButton{padding:10px; width:100%; background-color:blue; font-size:20px;}
                    #Icon{ margin-top:0px; margin-left:30px;  height:30px; }
    }
    .title{ color:blue; margin:10px 0px;}
    TextInput{ color:black; border-bottom: 1px solid; border-color:black;}

    #ReportButtonStack{padding:20px 0px; margin-top:50px;            
                    #ReportButton{ padding:10px; width : 100%; background-color:lightgray; font-size:20px;}
                  } 
}

LoginPage {
    height: 100%;
    #Body{  height: 100%;  background-image: "Images/background.png"; height:100%;   background-size: cover;
        #mainStack{height:100%; padding:20px 50px; }
   
        #signupTextView{ color:yellow; font-weight:bold;}
        TextView{ color:white;}
        TextInput{ border-bottom: 1px solid; border-color:white; color:white; font-size:20px; margin:10px; padding:10px 0px;}
        .label{font-size:12px; margin:10px;}
        #signinButtonStack{ padding: 0px 40px; margin-top:20px;
        #signinButton{ width:100%; color:black; background-color:blue; padding: 20px; }
        }
    }
}

SignUpPage  {
    height: 100%;

    #Body {
        height: 100%; background-image: "Images/background.png"; height: 100%; background-size: cover;
        }
}

ProfilePage  {
    height: 100%;

    #Body {
        height: 100%; background-image: "Images/city-gray.png"; height: 100%; background-size: cover;
        #mainStack{
              height: 100%;
              padding:100px 20px 20px 20px;
        }
        #userImageView{ width:100%; height:80px;   background-position: center;  }
        .label{font-size:12px; margin:10px; color:blue;}
        .title{font-size:20px; margin:10px; color:black; }
      }
}

SignUpPage {
    height: 100%;

   
        background-image: "Images/background.png";
          background-size: cover;
  
    #mainStack {
        height: 50%;
        width: 50%;
        margin-top: calc("View.Root.ActualHeight / 4");
        margin-left: calc("View.Root.ActualWidth / 4");
        padding: 10px;
       background-color: white;
    }

    TextView {
        color: white;
    }

    TextInput {
        border-bottom: 1px solid;
        border-color: white;
        color: white;
        font-size: 20px;
        margin: 10px;
        padding: 10px 0px;
    }

    .title {
        font-size: 12px;
        margin: 10px;
        color: blue;
    }
}