.form-pages #Body {
  height: 100%;
}
#MapView {
  height: 100%;
}
MainMenu #Body {
  height: 100%;
}
MainMenu TextView {
  color: #3063f5;
}
MainMenu #logoutStack {
  height: 50px;
}
MainMenu #logoutStack Button {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
}
MainMenu Stack {
  height: 100%;
}
MainMenu #itemsStack {
  height: calc("(View.Root.ActualHeight- 45- 50)");
  background: url("Images/Menu/background.png");
  background-size: cover;
  width: 300px;
}
MainMenu #menuItemsStack {
  height: calc("(view.Parent.ActualHeight - 50)");
}
Home #Body {
  height: 100%;
}
Home .title {
  color: #3063f5;
  margin: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}
#WeatherInfoModule {
  background: url("Images/background.png");
  background-size: auto;
  height: 25%;
  padding: 10px;
}
#WeatherInfoModule Stack {
  /*margin-top: calc("view.Parent.ActualHeight /4");*/
}
#WeatherInfoModule Stack TextView {
  color: #ffffff;
}
#WeatherInfoModule Stack #tempText {
  font-size: 36px;
}
#WeatherInfoModule Stack #dateText {
  height: 30px;
}
#WeatherInfoModule TextView {
  margin-top: 10px;
}
.HomeModules {
  height: 32%;
  padding: 10px;
}
.HomeModules ScrollView {
  height: 100%;
}
.HomeModules #List {
  height: 100%;
}
.HomeModules Stack {
  height: 100%;
}
.HomeModules ListViewItem {
  height: 100%;
}
.HomeModules #Content {
  padding: 10px;
  padding-left: 0px;
}
.HomeModules .splitor {
  border-bottom: 1px solid;
  border-color: #ffffff;
  margin: 10px;
}
.HomeModules ImageView {
  width: 25px;
  margin-left: 10px;
}
.HomeModules TextView {
  margin-left: 10px;
  color: #ffffff;
}
.HomeModules .titleRow {
  font-size: 26px;
  margin-top: 10px;
}
.HomeModules #infoStack {
  height: 80%;
}
.HomeModules #recommendedTitleText {
  font-size: 30px;
}
#EventsModule {
  border-bottom: 1px;
  border-color: #484f63;
}
MyRides #Body {
  height: 100%;
}
MyRides #infoStack {
  height: 75%;
}
MyRides #MyRidesModule {
  width: 30%;
}
MyRides #MapView {
  width: 40%;
}
MyRides #selectedRowInfoStack {
  width: 30%;
  background: url("Images/myrides_placeholder_event.png");
  background-size: cover;
  height: 100%;
  padding: 10px;
}
MyRides #selectedRowInfoStack TextView {
  color: #ffffff;
  margin: 7px;
  font-size: 14px;
}
MyRides #selectedRowInfoStack .label {
  font-size: 12px;
}
MyRides #selectedRowInfoStack .texbox {
  font-size: 16px;
}
MyRides #fromTexView {
  margin-top: 150px;
}
MyRides #txtDate {
  margin-top: 100px;
}
#MyRidesStack {
  height: 100%;
}
#MyRidesStack #List {
  height: 100%;
}
#MyRidesStack TextView {
  color: #000000;
  font-size: 12px;
  margin-top: 5px;
}
#MyRidesStack #iconStack {
  width: 40px;
  height: 100%;
}
#MyRidesStack #iconStack #myRidesImage {
  margin-top: 10px;
  margin-left: 5px;
  height: 30px;
}
#MyRidesStack #rideInfoStack {
  width: 90%;
  height: 100%;
  padding: 10px;
}
#MyRidesStack #rideInfoStack .image {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
#MyRidesStack #rideInfoStack #fromStationNameTextView {
  color: #3063f5;
}
#MyRidesStack #rideInfoStack #toStationNameTextView {
  color: #ff5e4d;
}
#MyRidesStack #mainStack {
  width: 100%;
  height: 170px;
  border: 1px solid;
  border-color: #484f63;
}
CustomRide #Body {
  height: 100%;
}
CustomRide #RouteSelector {
  height: 220px;
  width: calc("View.Root.ActualWidth - 60");
  background-color: #ffffff;
  opacity: 0.4;
  margin: 20px;
}
CustomRide #InnerStack {
  margin-left: 40px;
  padding: 10px;
  background-color: #ffffff;
  height: 180px;
  width: calc("View.Root.ActualWidth - 100");
  position: absolute;
  top: 30px;
}
CustomRide #GoButtonStack {
  margin-top: 20px;
  background-color: #afb3be;
  height: 40px;
  width: 100%;
}
CustomRide #GoButtonStack Button {
  width: 60px;
  margin-left: calc("view.Parent.ActualWidth - 60");
  padding: 10px;
  background-color: #3063f5;
  color: #ffffff;
  height: 100%;
}
CustomRide #RouteSelected {
  width: calc("View.Root.ActualWidth - 60");
  height: 150px;
  background-color: #484f63;
  opacity: 0.4;
  padding: 20px;
  margin: 20px;
  position: absolute;
  top: calc("View.Root.ActualHeight - 230");
}
CustomRide .title {
  font-size: 16px;
}
CustomRide #FromPS {
  margin-left: 40px;
  background-color: #3063f5;
  padding: 10px;
  visibility: hidden;
  width: calc("View.Root.ActualWidth - 100");
  position: absolute;
  top: calc("View.Root.ActualHeight - 220");
}
CustomRide #FromPS TextView {
  color: #ffffff;
  font-size: 12px;
}
CustomRide #ToPS {
  margin-left: 40px;
  background-color: #ff5e4d;
  padding: 10px;
  visibility: hidden;
  margin-top: 10px;
  width: calc("View.Root.ActualWidth - 100");
  position: absolute;
  top: calc("View.Root.ActualHeight - 150");
}
CustomRide #ToPS TextView {
  color: #ffffff;
  font-size: 12px;
}
BookingPage #Body {
  height: 100%;
}
BookingPage #overlayStack {
  background-color: #3063f5;
  height: 100%;
  opacity: 0.4;
  z-index: 1;
  position: absolute;
  top: 0;
}
BookingPage #MainStack {
  padding: 20px;
  padding-top: 50px;
  background-color: transparent;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
BookingPage TextView {
  color: #ffffff;
  margin-top: 10px;
}
BookingPage .small {
  font-size: 12px;
  color: #ffed00;
}
BookingPage .title {
  font-size: 30px;
}
BookingPage .date {
  font-size: 20px;
}
BookingPage .city {
  font-size: 20px;
}
BookingPage .avilable {
  color: #ffed00;
  font-size: 11px;
}
BookingPage Button {
  border: 4px solid;
  border-color: #ffffff;
  width: 200px;
  padding: 20px;
  margin-top: 20px;
}
BookingPage #bookDetailStack {
  margin-top: 30px;
  padding: 5px;
  height: 180px;
  background-color: #ffffff;
}
BookingPage #bookDetailStack #bikeStack {
  width: 60px;
}
BookingPage #bookDetailStack TextView {
  color: #484f63;
  font-size: 12px;
  margin-top: 5px;
}
BookingPage #bookDetailStack ImageView {
  width: 40px;
  height: 40px;
  border-color: #3063f5;
  border: 2px;
}
BookingPage #bookDetailStack #fromText {
  font-size: 20px;
  color: #3063f5;
}
BookingPage #bookDetailStack #toText {
  font-size: 20px;
  color: #ff5e4d;
}
BookingPage #bookDetailStack .splitor {
  border-bottom: 1px solid;
  margin: 5px;
  margin-left: 0px;
}
.BookingDetail #Body {
  height: 100%;
}
.BookingDetail #Body {
  background: url("Images/booking_background.png");
  background-size: auto;
}
.BookingDetail TextView {
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.BookingDetail #fromText {
  margin-top: 50px;
}
.BookingDetail .title {
  margin-top: 150px;
  font-size: 28px;
}
.BookingDetail #bookingStack {
  background: url("Images/booking_circle_white.png");
  width: 90px;
  height: 90px;
  margin-top: 50px;
  margin-left: calc("(View.Root.ActualWidth/ 2)- 45");
  background-size: cover;
}
.BookingDetail .blacktext {
  color: #000000;
  font-size: 12px;
  margin-top: 15px;
  text-transform: uppercase;
}
.BookingDetail .bluetext {
  color: #3063f5;
}
.BookingDetail #timerStack {
  background: url("Images/progress.png");
  width: 80px;
  height: 80px;
  margin-top: 50px;
  margin-left: calc("(View.Root.ActualWidth/ 2)- 40");
  background-size: cover;
}
.BookingDetail .label {
  font-size: 11px;
  margin-top: 0px;
}
ReportIncident {
  height: 100%;
  padding: 10px;
}
ReportIncident #IncidentSelectorStack {
  padding: 10px;
  height: 200px;
}
ReportIncident #IncidentSelectorStack TextView {
  font-size: 12px;
  text-align: center;
}
ReportIncident #IncidentSelectorStack .image {
  margin: 10px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
ReportIncident #BotButtonStack {
  padding: 20px;
  border-bottom: 1px solid;
  border-color: #484f63;
}
ReportIncident #BotButtonStack IconButton {
  padding: 10px;
  width: 100%;
  background-color: #3063f5;
  font-size: 20px;
}
ReportIncident #BotButtonStack #Icon {
  margin-top: 0px;
  margin-left: 30px;
  height: 30px;
}
ReportIncident .title {
  color: #3063f5;
  margin: 10px 0px;
}
ReportIncident TextInput {
  color: #000000;
  border-bottom: 1px solid;
  border-color: #000000;
}
ReportIncident #ReportButtonStack {
  padding: 20px 0px;
  margin-top: 50px;
}
ReportIncident #ReportButtonStack Button {
  padding: 10px;
  width: 100%;
  background-color: #f4f6fa;
  font-size: 20px;
}
EventSummary #Body {
  height: 100%;
}
EventSummary #EventSummaryModule {
  height: 100%;
}
EventSummary #mainStack {
  background-size: auto;
  height: 100%;
  padding: 20px 30px 10px 30px;
}
EventSummary TextView {
  color: #ffffff;
  font-size: 18px;
  margin-top: 5px;
}
EventSummary .titleRow {
  font-size: 36px;
  margin-top: 10px;
}
EventSummary .small {
  font-size: 12px;
  color: #ffed00;
}
EventSummary #venueNameTextView {
  font-size: 24px;
  margin-bottom: 10px;
}
EventSummary #buyTicketButton {
  margin-top: 70px;
  font-size: 14px;
  width: 120px;
  border: 3px solid;
  border-color: #ffffff;
  font-weight: bold;
}
EventSummary #bookBikeButton {
  margin-top: 50px;
  width: 200px;
  padding: 8px;
  border: 4px solid;
  border-color: #ffffff;
  font-weight: bold;
}
EventSummary #bookDetailStack {
  margin-top: 30px;
  padding: 5px;
  height: 170px;
  background-color: #ffffff;
}
EventSummary #bookDetailStack TextView {
  color: #484f63;
  font-size: 12px;
}
EventSummary #bookDetailStack ImageView {
  width: 40px;
  height: 40px;
  border-color: #3063f5;
  border: 1px;
}
EventSummary #bookDetailStack #fromText {
  font-size: 20px;
  color: #3063f5;
}
EventSummary #bookDetailStack #toText {
  font-size: 20px;
  color: #ff5e4d;
}
EventSummary #bookDetailStack .splitor {
  border-bottom: 1px solid;
  margin: 5px;
  margin-left: 0px;
}
EventSummary #bikeStack {
  width: 60px;
}
Login {
  height: 100%;
}
Login #mainStack {
  height: 100%;
  padding: 20px 50px;
  background: url("Images/background.png");
}
Login #signupTextView {
  color: #ffed00;
  font-weight: bold;
}
Login TextView {
  color: #ffffff;
}
Login TextInput {
  border-bottom: 1px solid;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
  padding: 10px 0px;
}
Login .label {
  font-size: 12px;
  margin: 10px;
}
Login #usernameTextInput {
  margin-top: 100px;
}
Login #signUpStack {
  margin-top: 200px;
}
Login #signinButtonStack {
  padding: 0px 40px;
  margin-top: 20px;
}
Login #signinButtonStack Button {
  width: 100%;
  color: #000000;
  background-color: #3063f5;
  padding: 20px;
}
SignUp {
  height: 100%;
}
SignUp #Body {
  height: 100%;
  background: url("Images/background.png");
  background-size: cover;
}
SignUp #Body #MyCarousel {
  height: 100%;
}
.slide-show {
  height: 100%;
}
.SignupPages {
  height: 100%;
}
.SignupPages #mainStack {
  height: 50%;
  width: 50%;
  margin-top: calc("View.Root.ActualHeight / 5");
  margin-left: calc("View.Root.ActualWidth / 4");
  padding: 10px;
  background-color: #ffffff;
}
.SignupPages #closeStack {
  height: 10px;
}
.SignupPages TextInput {
  border-bottom: 1px solid;
  border-color: #000000;
  color: #000000;
  font-size: 20px;
  margin: 10px;
}
.SignupPages .title {
  font-size: 12px;
  margin: 10px;
  margin-bottom: 0px;
  color: #3063f5;
}
.SignupPages #detailStack {
  height: calc("(view.Parent.Parent.ActualHeight - 75)");
}
.SignupPages #NextButtonStack {
  height: 60px;
  background-size: contain;
}
.SignupPages #nextButton {
  padding: 10px 0px;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: calc("view.Parent.ActualWidth - 50");
}
.SignupPages #closeButton {
  width: 10px;
  padding: 0px;
  height: 10px;
  background: url('Images/SignUp/ic_close.png');
}
.SignupPages #backgroundStack {
  height: 100%;
}
Profile #Body {
  height: 100%;
}
Profile #Body {
  background: url("Images/city-gray.png");
  background-size: cover;
}
Profile #mainStack {
  height: 100%;
  padding: 100px 20px 20px 20px;
}
Profile #userImageView {
  width: 100%;
  height: 80px;
  background-position: center;
}
Profile .label {
  font-size: 12px;
  margin: 10px;
  color: #3063f5;
}
Profile .title {
  font-size: 20px;
  margin: 10px;
  color: #000000;
}
AccountPage #nextButton1 {
  padding: 10px 0px;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: calc("view.Parent.ActualWidth - 130 ");
}
AccountPage #sunBox {
  margin-left: 20px;
  width: 60px;
  height: 60px;
  background: url('Images/SignUp/signup_sun.png');
}
AccountPage #bikeImageView {
  width: 80px;
  height: 50px;
}
AccountPage #sunBoxStack {
  padding: 60px;
  height: 40%;
}
AccountPage #buildingStack {
  height: 25%;
}
AccountPage #buildingImageView {
  height: 100%;
  background: url("Images/SignUp/signup_buildings_2.png");
}
AccountPage #fenceImageView {
  height: 8%;
  background: url('Images/SignUp/fence.png');
}
GenderPage #mainStack #womanImageView {
  width: 100%;
  height: 80px;
  margin-left: 80px;
}
GenderPage #mainStack #buildingStack {
  height: 80%;
}
GenderPage #mainStack #buildingStack ImageView {
  height: 100%;
}
GenderPage #mainStack #manImageView {
  width: 100%;
  height: 80px;
  margin-left: 10px;
}
GenderPage #mainStack #nextButton {
  margin-left: calc("view.Parent.ActualWidth - 110 ");
}
GenderPage #mainStack #cloudBox {
  margin-left: 40px;
  width: 40px;
  height: 40px;
  background: url('Images/SignUp/signup_cloud_1.png');
}
GenderPage #mainStack #cloudBoxStack {
  padding: 10px;
  height: 20%;
}
GenderPage #mainStack #skipTextView {
  font-weight: bold;
  font-size: 20px;
  width: 60px;
  margin-top: 10px;
}
SubscriptionPage ImageView {
  width: 100%;
  height: 75px;
  margin-left: 20px;
  margin-top: 10px;
}
SubscriptionPage #skyBoxStack {
  padding: 10px;
  height: 30%;
}
SubscriptionPage #cloudBox {
  margin-left: 50px;
  width: 40px;
  height: 40px;
  background: url('Images/SignUp/signup_cloud_1.png');
}
SubscriptionPage #cloudBoxStack {
  height: 70%;
}
SubscriptionPage #sunBox {
  margin-left: 70px;
  margin-top: 30px;
  width: 60px;
  height: 60px;
  background: url('Images/SignUp/signup_sun.png');
}
UserPage #designStack {
  height: 22%;
  padding-top: 10px;
}
UserPage #tempStack {
  height: 70%;
}
UserPage #fenceImageView {
  height: 8%;
  background: url('Images/SignUp/fence.png');
}
UserPage #bikeImageView {
  height: 40px;
  background: url('Images/SignUp/bike.png');
  margin-top: 20px;
  margin-left: calc("view.Parent.ActualWidth - 140");
}
UserPage #signupTreesImageView {
  height: 60px;
  background: url('Images/SignUp/signup_trees.png');
}
IdentityPage #backgroundStack Stack {
  height: 50%;
}
IdentityPage #leftCloudBox {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  background: url("Images/SignUp/signup_cloud_2.png");
}
IdentityPage #RightCloudBox {
  margin-top: -10px;
  margin-left: 100px;
  width: 40px;
  height: 40px;
  background: url("Images/SignUp/signup_cloud_1.png");
}
IdentityPage #padlockImageView {
  margin-top: -20px;
  margin-left: 40px;
  width: 80px;
  height: 80px;
  background: url("Images/SignUp/signup_padlock.png");
}