@import "Variables.less";

.form-pages {
    #Body { height: 100%;}
}

.view(@height,@width,@margin,@padding,@color,@top){ .view(@height,@width,@margin,@padding,@color); position: absolute; top: @top;}
.view(@height,@width,@margin,@padding,@color){ .view(@height,@width,@margin,@padding); background: @color; }
.view(@height,@width,@margin,@padding){ .view(@height,@width,@margin); padding:@padding; }
.view(@height,@width,@margin){ .view(@height,@width); margin:@margin; }
.view(@height,@width ){ height:@height; width :@width;}

.outer-stack(@color,@height) { .view( @height, calc("View.Root.ActualWidth - 60"),20px); background-color: @color; opacity: 0.4; }

.text-view(@size,@margin,@color){ .text-view(@size,@margin);color:@color; }
.text-view(@size,@margin){ .text-view(@size); margin:@margin; }
.text-view(@size){ font-size:@size; }

.splitor { margin: 20px 10px 10px 10px; border-bottom: 2px solid; border-color: @BackgroundGrayColor;  }
.small { .text-view(12px, 0px, @BrightYellowColor); }

#MapView { height: 100% }

MainMenu {
     .form-pages();

     TextView { color: @BlueColor; }
     #LogoutStack { height: 50px;
      Button { .view(100%, 100%,0px, 10px, @WhiteColor); text-align: center; }
     } 
     #ItemsStack {  height: calc("(View.Root.ActualHeight- 45- 50)");  background: url("Images/Menu/background.png");  background-size: cover;  width: 300px; }
     #MenuItemsStack {  height: calc("(view.Parent.ActualHeight - 50)"); }
     Stack { height: 100%; }
}

Home {
 .form-pages();
 .title { .text-view(20px, 10px 10px 0px 10px, @BlueColor); }
}

#WeatherInfoModule { .view(25%, auto); background: url("Images/background.png"); background-size: auto;  //0px, 10px,
                     Stack{   margin:0px 10px;
                             #TempText { font-size: 36px; }
                             #DateText { height: 30px; }
                             TextView { margin-top: 10px; }
                          }
}

.HomeModules { .view(32%, auto, 0px, 10px); 
               ScrollView { height: 100%; }   
               Stack { height: 100%; }
               ListViewItem { height: 100%; }
               #Content { padding: 10px; padding-left: 0px;
                          Stack{Stack{ margin-left: 10px; }}            
                          ImageView { width: 25px; }              
                          .titleRow { .text-view(26px, 20px 0px 0px 0px); }
                          #RecommendedTitleText { font-size: 30px; }
                        }
}

#EventsModule { border-bottom: 1px; border-color: @GrayColor; }

MyRides {
    .form-pages();
    #InfoStack { height: 75%;  }
    #MyRidesModule { width: 30%; }
    #MapView { width: 40%;  }
    #SelectedRowInfoStack { .view(100%, 30%); background: url("Images/myrides_placeholder_event.png"); background-size: cover; 
                            #BookModule{ margin: 10px;}
                            TextView { white-space: nowrap;  margin-top:10px;  }
                            .firstitem{ margin-top:100px;}
    }
}

#MyRidesStack {   
    height: 100%;
    ScrollView { height: 100%; }
    TextView { color: @BlackColor; font-size: 12px; margin-top: 5px; white-space: nowrap; }
    #IconStack { .view(100%, 40px);      
        ImageView { margin-top: 10px; margin-left: 5px; height: 30px; }
    }
    #RideInfoStack { .view(100%, 90%, 0px, 10px);
        .image { height: 20px; width: 20px; margin-right: 5px; }
        #FromTextView { color: @BlueColor; }
        #ToTextView { color: @OrangeColor; }
    }
    #MainStack { .view(170px, 100%); border: 1px solid; border-color: @GrayColor; }
}

CustomRide {
     .form-pages();
      TextView{ color:@BlackColor;}
     #RouteSelector { .outer-stack( @WhiteColor,220px);  z-index:999;}
     #InnerStack { .view(180px,calc("View.Root.ActualWidth - 100"),0px 0px 0px 40px,10px,@WhiteColor,30px); z-index:1000;
     }
     #GoButtonStack { .view(40px,100%,20px 0px 0px 0px,0px,@ProfileGrayColor);
                      Button {height: 100%; width: 60px; margin-left: calc("view.Parent.ActualWidth - 60"); padding: 10px; background-color: @BlueColor; color: @WhiteColor;}
        }
     #RouteSelected { .outer-stack(@GrayColor,150px);   padding: 20px; position: absolute; top: calc("View.Root.ActualHeight - 230"); }
     .title { font-size: 16px; } 
     .station(@color,@top){ visibility: hidden; 
               .view(auto,calc("View.Root.ActualWidth - 100"),0px 0px 0px 40px,10px,@color,@top);
               TextView { color: @WhiteColor; font-size: 12px; }
        }
     #FromPS { .station(@BlueColor,calc("View.Root.ActualHeight - 220")); }
     #ToPS { .station(@OrangeColor,calc("View.Root.ActualHeight - 150")); } 
}

BookingPage {
     .form-pages();
     #OverlayStack { height: 100%; background-color: @BlueColor; opacity: 0.4; z-index:1; position: absolute; }
     #MainStack { .view(100%,auto,0px, 50px 20px 20px 20px); position: absolute; z-index:2; } 
     .title { .text-view(30px,5px 0px);}
     .date { .text-view(20px,5px 0px);}
     .city { .text-view(20px,5px 0px);}
     Button { border: 4px solid; border-color: @WhiteColor; width: 200px; padding: 10px; margin-top: 20px; }

     #BookDetailStack {  .view(180px,auto,30px 0px 0px 0px, 5px, @WhiteColor);
                      #BikeStack { width: 60px; }
                      TextView { .text-view(12px, 5px 0px 0px 0px,@GrayColor); }
                      ImageView { width: 40px; height: 40px; margin-top:5px; }
                      #FromText { .text-view(20px,5px 0px 0px 0px, @BlueColor); }
                      #ToText { .text-view(20px,5px 0px 0px 0px, @OrangeColor); }
                   }
}

.BookingDetail {
    .form-pages();
    #BookingDetailStack{ height:100%; }
    #Body { background: url("Images/booking_background.png"); background-size: auto; }
    TextView { .text-view(18px,10px 0px 0px 0px); text-align: center; }
    #FromText { margin-top: 50px;}
    .title { .text-view(30px,10px 0px 0px 0px); }
    .thanks { .text-view(28px,50px 0px 0px 0px); }  
    #BookingStack { .view(90px,90px,0px,0px, url("Images/booking_circle_white.png"), calc("View.Root.ActualHeight - 250")); margin-left: calc("(View.Root.ActualWidth/ 2)- 45"); background-size: cover; }
    .blacktext { .text-view(12px,15px 0px 0px 0px, @BlackColor); text-transform: uppercase; }
    .bluetext { color: @BlueColor; }
    #TimerStack { .view(80px,80px,50px 0px 0px 0px,0px, url("Images/progress.png")); margin-left: calc("(View.Root.ActualWidth/ 2)- 40"); background-size: cover;
                  TextView { margin-top: 30px; }
                }
    .label { .text-view(12px,0px); }
}

ReportIncident { height: 100%;
    #Body { padding: 10px; }
    TextView { color:@BlackColor; }
    #IncidentSelectorStack { .view(130px,auto,0px,10px);
                             TextView { font-size: 12px; text-align: center; }
                             ImageView {height: 50px; width: 50px;  margin: 20px 10px 10px 10px; }
                           }
    #BotButtonStack { padding: 20px; border-bottom: 1px solid; border-color: @GrayColor;
                      IconButton { width: 100%; padding: 10px; background-color: @BlueColor; font-size: 20px; }
                      #Icon { height: 30px; margin: 0px 0px 0px 30px; }
                    }
    .title { color: @BlueColor; margin: 10px 0px;}
    FormField{ height:130px; 
               ImageView{ display:none;}
    }
    TextInput { border-bottom: 1px solid; border-color: @BlackColor; position:absolute; top:80px; }
    #ReportButtonStack { .view(auto,auto,10px 0px 0px 0px,20px 0px);
                         Button { width:100%; padding: 10px; background-color: @BackgroundGrayColor; font-size: 20px;}
                       }
}

EventSummary {
     .form-pages();// #Body{ height:auto;}
     #EventSummaryModule { height: 100%; }
     #MainStack { .view(100%,auto); background-size: auto; 
               #InternalBody{margin:0px 30px 0px 30px;}
     }
     TextView { .text-view(18px); }
     .titleRow { .text-view(36px,10px 0px 0px 0px); }
     .splitor { border-color: @GrayColor; margin: 5px 10px 10px 10px; }
     #VenueNameTextView { font-size: 24px; margin-bottom: 10px; }
     #BuyTicketButton { margin-top: 70px; font-size: 14px; width: 120px; border: 3px solid; border-color: @WhiteColor; font-weight: bold; }
     #BookBikeButton { margin-top: 50px; width: 200px; padding: 8px; border: 4px solid; border-color: @WhiteColor; font-weight: bold; }
     #BookDetailStack { .view(170px,auto,30px 0px 0px 0px,5px, @WhiteColor);
                        TextView { .text-view(12px,5px, @GrayColor); }
                        ImageView {  height: 40px; width: 40px; border-color: @BlueColor; border: 1px; }
                        #FromText { .text-view(20px, 0px,@BlueColor); }
                        #ToText { .text-view( 20px, 0px, @OrangeColor); }
                      }
     #BikeStack { width: 60px; }
}

Login {  .view(100%,100%); background: url("Images/background.png"); background-size: cover; //,0px,20px 50px,
        Stack{ margin:20px 50px;
        #SignupTextView { color: @BrightYellowColor; font-weight: bold; }
        TextInput { .text-view(20px,10px,@WhiteColor); padding :10px 0px; border-bottom: 1px solid; border-color: @WhiteColor; }
        .label { .text-view(12px, 10px); }
        #UsernameTextInput { margin-top: 100px; }
        #SignUpStack { margin-top: 200px; }
        #SigninButtonStack { .view(auto,auto,20px 0px 0px 0px ,0px 40px);
                             Button { width: 100%; color: @BlackColor; background-color: @BlueColor; padding: 20px; }
                           }
       }
}
SignUp { height: 100%;
         #Body { height: 100%; background: url("Images/background.png"); background-size: cover;
                 #MyCarousel { height: 100%; }
               }
}

.slide-show { height: 100%;}

.SignupPages { height: 100%;
               #BackgroundStack{height:100%;}
               #MainStack { .view(50%,50%, 0px,10px,@WhiteColor); margin-top: calc("View.Root.ActualHeight / 5"); margin-left: calc("View.Root.ActualWidth / 4"); }
               #CloseStack { height: 10px;
                             Button { .view(10px,10px,0px,0px ,url('Images/Icons/close.png')); }
               }
               TextInput { border-bottom: 1px solid; border-color: @BlackColor; color: @BlackColor; font-size: 20px; margin: 10px; }
               .title { .text-view(12px,10px 10px 0px 10px ,@BlueColor) }
               #DetailStack { height: calc("(view.Parent.Parent.ActualHeight - 75)"); }
               #NextButtonStack { height: 60px; background-size: contain; }
               #NextButton { .view( 50px,50px,10px 0px 0px 0px, 10px 0px); margin-left: calc("view.Parent.ActualWidth - 50"); }
}

Profile {
     .form-pages();
     #Body { background: url("Images/city-gray.png"); background-size: cover; }
     #MainStack { padding: 100px 20px 20px 20px; }
     #UserImageView { .view(80px,100%); background-position: center; }
     .label { .text-view(12px,10px,@BlueColor) }
     .title { .text-view(20px,10px,@BlackColor) }
}

AccountPage {
     #ButtonNext { .view(50px, 50px, 10px 0px 0px 0px, 10px 0px); margin-left: calc("view.Parent.ActualWidth - 130 "); }
     #SunBox { .view(60px, 60px, 0px 0px 0px 20px, 0px, url('Images/SignUp/signup_sun.png')); }
     #BikeImageView { .view(50px, 80px); }
     #SunBoxStack { height: 40%; padding: 60px; }
     #BuildingStack { height: 52%; }
     #BuildingImageView { height: 100%; background: url("Images/SignUp/signup_buildings_2.png"); }
     #FenceImageView { height: 8%; background: url('Images/SignUp/fence.png'); }
}

GenderPage {
     #MainStack {
          #WomanImageView { .view(80px, 100%, 0px 0px 0px 80px); }
          #BuildingStack { height: 80%;
                           ImageView { height: 100%; }
                         }
          #ManImageView { .view(80px, 100%, 0px 0px 0px 10px); }
          #NextButton { margin-left: calc("view.Parent.ActualWidth - 110 "); }
          #CloudBox { .view(40px, 40px, 0px 0px 0px 40px, 0px, url('Images/SignUp/signup_cloud_1.png')); }
          #CloudBoxStack { .view(20%, auto, 0px, 10px); }
          #SkipTextView { .text-view(20px,10px 0px 0px 0px,@BlackColor); font-weight: bold; width: 60px; }
     }
}

SubscriptionPage {
     ImageView { .view(75px, 100%, 1px 0px 0px 20px); }
     #SkyBoxStack { .view(30%,auto,0px,10px); }
     #CloudBox { .view(40px, 40px,0px 0px 0px 50px, 0px,url('Images/SignUp/signup_cloud_1.png')); }
     #CloudBoxStack { height: 70%; }
     #SunBox { .view(60px, 60px,30px 0px 0px 70px, 0px,url('Images/SignUp/signup_sun.png')); }
}

UserPage {
    #Label{color:black;}
     #DesignStack { height: 22%; padding-top: 10px; }
     #TempStack { height: 70%; }
     #FenceImageView { height: 8%; background: url('Images/SignUp/fence.png'); }
     #BikeImageView { height: 40px; background: url('Images/SignUp/bike.png'); margin-top: 20px; margin-left: calc("view.Parent.ActualWidth - 140"); }
     #SignupTreesImageView { height: 60px; background: url('Images/SignUp/signup_trees.png'); }
}

IdentityPage {
     #BackgroundStack {
         Stack { height: 50%; }
     }
     #LeftCloudBox { .view(60px,60px,0 px 0px 0px 10px,0px, url("Images/SignUp/signup_cloud_2.png")); }
     #RightCloudBox { .view(40px, 40px, -10px 0px 0px 100px, 0px, url("Images/SignUp/signup_cloud_1.png")); }
     #PadlockImageView { .view(80px,80px,-20px 0px 0px 40px,0px, url("Images/SignUp/signup_padlock.png")); }
}
